<div class="min-h-screen flex flex-col relative">
  <!-- Loading Spinner Overlay -->
  @if (isSpinning()) {
  <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500"></div>
  </div>
  }

  <cloud-header></cloud-header>
  <div class="flex-1 flex flex-col">
    <cloud-breadcrumb></cloud-breadcrumb>
    <main class="flex-1 bg-gray-50">
      <div class="inner-content max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <ng-content></ng-content>
      </div>
    </main>
  </div>
  <cloud-footer></cloud-footer>
</div>
